.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}
.card{
    align-items:center;
    border: thick;
}
.navbar{
  padding-bottom: 25px;
  font-size: 30px;
}
.span{
  font-size: 30px;
}